<!-- <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー詳細</title>
</head>
<body>
  <section>
      <h2>登録内容</h2>
      <form action=""method="post">
          <div>
              <label for="name">名前</label>
              <p>田中　太郎</p>
          </div>
          <div>
      <label for="gender">性別</label>
      <p>男性</p>
    </div>
    <div>
      <label>生年月日</label>
      <p>1998年5月1日</p>
    </div>
    <div>
      <label>パスワード</label>
      <p>tanaka0501</p>
    </div>
    <div>
      <label>メールアドレス</label>
      <p>tanaka1998@gmail.com</p>
    </div>
    <div>
      <label>郵便番号</label>
      <p>〒330-9301</p>
    </div>
          <div>
              <label>都道府県 </label>
              <p>埼玉県</p>                 
          </div>
          <div>
              <label>住所</label>
              <p>埼玉県さいたま市浦和区高砂3丁目15-1</p>     
          </div>
          <div> 
              <label> 資格</label>
          <p>基本情報</p>    
          </div> 
          
          
      </form>
  </section>
  <input type="button" onclick="location.href='useredit.html'"value="編集">
  <input type="button" onclick="location.href="value="削除">
</body>
</html> -->
{% extends "base.html" %}
{% block title %}
  ユーザー詳細  
    {% endblock %}
{% block content %}
<section>
  <h2>登録内容</h2>
  <form action=""method="post">
      <div>
          <label for="name">名前</label>
          <p>田中　太郎</p>
      </div>
      <div>
  <label for="gender">性別</label>
  <p>男性</p>
</div>
<div>
  <label>生年月日</label>
  <p>1998年5月1日</p>
</div>
<div>
  <label>パスワード</label>
  <p>tanaka0501</p>
</div>
<div>
  <label>メールアドレス</label>
  <p>tanaka1998@gmail.com</p>
</div>
<div>
  <label>郵便番号</label>
  <p>〒330-9301</p>
</div>
      <div>
          <label>都道府県 </label>
          <p>埼玉県</p>                 
      </div>
      <div>
          <label>住所</label>
          <p>埼玉県さいたま市浦和区高砂3丁目15-1</p>     
      </div>
      <div> 
          <label> 資格</label>
      <p>基本情報</p>    
      </div> 
      
      
  </form>
</section>
<input type="button" onclick="location.href='useredit.html'"value="編集">
<input type="button" onclick="location.href="value="削除">
{% endblock %}